<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>hello1_formauth</display-name>
    <servlet>
        <display-name>login</display-name>
        <servlet-name>login</servlet-name>
        <jsp-file>/pre-authn/login.jsp</jsp-file>
    </servlet>

</web-app>