<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Atricore IDBus
  ~
  ~ Copyright (c) 2009, Atricore Inc.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>idbus.web</display-name>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.osgi.web.context.support.OsgiBundleXmlWebApplicationContext</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <servlet>
        <servlet-name>OsgiIDBusServlet</servlet-name>
        <servlet-class>org.atricore.idbus.kernel.main.mediation.camel.component.http.OsgiIDBusServlet2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResourcesServlet</servlet-name>
        <servlet-class>org.atricore.idbus.kernel.main.mediation.camel.component.http.ui.ResourceUIServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HttpErrServlet</servlet-name>
        <servlet-class>org.atricore.idbus.kernel.main.mediation.camel.component.http.ui.HttpErrServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>idbus-http-process-ui</filter-name>
        <filter-class>org.atricore.idbus.kernel.main.mediation.camel.component.http.ui.ProcessingUIServletFilter</filter-class>
    </filter>

    <servlet-mapping>
        <servlet-name>OsgiIDBusServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ResourcesServlet</servlet-name>
        <url-pattern>/processing-ui/*</url-pattern>
    </servlet-mapping>

    <!-- /ERR  is actually used in DefaultInternalProcessingPolicy -->
    <servlet-mapping>
        <servlet-name>HttpErrServlet</servlet-name>
        <url-pattern>/ERR/*</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>idbus-http-process-ui</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
