
#loading {
    vertical-align:middle;
    padding: 10px 10px 10px 10px;
}

#loadingImg {
    padding: 5px 0px 10px 0px;
}

#loadingText {
    padding: 10px 0px 0px 10px;
    text-align: center;
    vertical-align: middle;
}

#loadingProgress {
    text-align: center;
    vertical-align: middle;
    padding: 10px 0px 0px 10px;
}

