<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="clientId" value="acme"/>
    <add key="clientSecret" value="acme123"/>
    <add key="username" value="test"/>
    <add key="password" value="user1pwd"/>
    <add key="authorizationServerEndpoint" value="http://192.168.2.104:8081/IDBUS/TEST1/IDP1/OAUTH2/TOKEN/SOAP"/>
    <add key="serviceProviderAlias" value="http://localhost:8081/IDBUS/TEST1/SP1/SAML2/MD"/>
    <add key="idpInitPreAuthn" value="http://192.168.2.104:8081/IDBUS/TEST1/IDP1/SAML2/SSO/IDP_INITIATE"/>
    <add key="idpPreAuthnResponse" value="http://localhost:8081/IDBUS/TEST1/IDP1/CC/OAUTH2/PRE-AUTHN/REST"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
