<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context
	                http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/osgi
                    http://www.springframework.org/schema/osgi/spring-osgi.xsd">

    <!-- CONSOLE EE Specific components -->

    <osgi:reference id="updateManagerService" cardinality="1..1" timeout="60"
                    interface="com.atricore.idbus.console.liveservices.liveupdate.main.LiveUpdateManager"/>


    <bean id="liveUpdateAjaxService" class="com.atricore.idbus.console.services.impl.LiveUpdateAjaxServiceImpl">
        <property name="updateManager" ref="updateManagerService"/>
    </bean>

</beans>