<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context
	                http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/osgi
                    http://www.springframework.org/schema/osgi/spring-osgi.xsd">

    <!-- CONSOLE EE Specific components -->

    <osgi:reference id="updateManagerService" cardinality="1..1" timeout="60"
                    interface="com.atricore.idbus.console.liveservices.liveupdate.main.LiveUpdateManager"/>

    <bean id="liveUpdateAjaxService" class="com.atricore.idbus.console.services.impl.LiveUpdateAjaxServiceImpl">
        <property name="updateManager" ref="updateManagerService"/>
    </bean>

    <!-- ======================================== -->
    <!-- Product features provided in this bundle -->
    <!-- ======================================== -->
    <bean name="consoleEEFeature" class="com.atricore.idbus.console.licensing.main.ProductFeature">
        <property name="id" value="atricore-console-ee"/>
        <property name="group" value="com.atricore.idbus.console"/>
        <property name="name" value="console-ee"/>
        <property name="version" value="1.0.1-SNAPSHOT"/>
    </bean>
    <osgi:service id="osgiConsoleEEFeature" ref="consoleEEFeature"
                    interface="com.atricore.idbus.console.licensing.main.ProductFeature"/>

    <bean name="idbusFeature" class="com.atricore.idbus.console.licensing.main.ProductFeature">
        <property name="id" value="atricore-idbus"/>
        <property name="group" value="org.atricore.idbus"/>
        <property name="name" value="idbus"/>
        <property name="version" value="1.1.1-SNAPSHOT"/>
    </bean>
    <osgi:service id="osgiIdbusFeature" ref="idbusFeature"
                    interface="com.atricore.idbus.console.licensing.main.ProductFeature"/>

</beans>