<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context
	                http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/osgi
                    http://www.springframework.org/schema/osgi/spring-osgi.xsd">

    <!-- ==================================================================== -->
    <!-- Idbus Server Management OSGI Services                                -->
    <!-- ==================================================================== -->

    <osgi:reference id="idApplianceManagementService" cardinality="1..1" timeout="60"
                    interface="com.atricore.idbus.console.lifecycle.main.spi.IdentityApplianceManagementService"/>

    <osgi:reference id="activationServiceBean" cardinality="1..1" timeout="60"
                    interface="com.atricore.idbus.console.activation.main.spi.ActivationService"/>

    <osgi:reference id="updateManagerService" cardinality="1..1" timeout="60"
                    interface="com.atricore.idbus.console.liveservices.liveupdate.main.LiveUpdateManager"/>

    <osgi:list id="spmlServiceBeans" interface="org.atricore.idbus.capabilities.spmlr2.main.SpmlR2Client"
               cardinality="0..N" >
        <osgi:listener ref="spml-service-listener" bind-method="register" unbind-method="unregister"/>
    </osgi:list>

    <bean name="spml-service-listener" class="com.atricore.idbus.console.services.impl.SpmlR2ServiceListener">
        <property name="services">
            <list>
                <ref bean="userProvisioningAjaxServiceBean"/>
                <ref bean="profileManagementAjaxServiceBean"/>
            </list>
        </property>
    </bean>

    <bean class="com.atricore.idbus.console.services.util.EnumPropertyProxy" factory-method="registerPropertyProxy" />

    <bean id="dozerMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>com/atricore/idbus/console/services/dto/dozer-mappings.xml</value>
            </list>
        </property>
    </bean>

    <!-- AJAX SERVICES -->

    <bean id="identityApplianceManagementAjaxServiceBean" class="com.atricore.idbus.console.services.impl.IdentityApplianceManagementAjaxServiceImpl">
        <property name="idApplianceManagementService" ref="idApplianceManagementService"/>
        <property name="dozerMapper" ref="dozerMapper" />
    </bean>

    <bean id="activationAjaxServiceBean" class="com.atricore.idbus.console.services.impl.ActivationAjaxServiceImpl">
        <property name="activationService" ref="activationServiceBean"/>
        <property name="dozerMapper" ref="dozerMapper" />
    </bean>

    <bean id="userProvisioningAjaxServiceBean"
          class="com.atricore.idbus.console.services.impl.UserProvisioningAjaxServiceImpl">
        <!-- TODO : Expose through OSGi config support -->
        <property name="pspTargetId" value="pst-default" />
    </bean>

    <bean id="applicationServerInitialization" init-method="init"
          class="com.atricore.idbus.console.services.util.ApplicationServerInitialization">
        <property name="usrProvService" ref="userProvisioningAjaxServiceBean" />
        <property name="adminGroupName" value="Administrators" />
        <property name="adminGroupDescription" value="Administrators" />
        <property name="adminUsername" value="admin" />
        <property name="adminPassword" value="admin" />
        <property name="adminName" value="Administrator" />
        <property name="adminLastName" value="Administrator" />
        <property name="adminFullName" value="Administrator" />
    </bean>

    <bean id="signOnAjaxServiceBean" class="com.atricore.idbus.console.services.impl.SignOnAjaxServiceImpl">
        <property name="usrProvService" ref="userProvisioningAjaxServiceBean" />
        <property name="realm" value="atricore" />
    </bean>

    <bean id="profileManagementAjaxServiceBean" class="com.atricore.idbus.console.services.impl.ProfileManagementAjaxServiceImpl">
        <property name="usrProvService" ref="userProvisioningAjaxServiceBean" />
        <property name="pspTargetId" value="pst-default" />
    </bean>

    <bean id="uploadHandler" class="com.atricore.idbus.console.web.servlets.UploadServletHandler">
        <property name="idApplianceManagementService" ref="idApplianceManagementService"/>
    </bean>

    <bean id="liveUpdateAjaxService" class="com.atricore.idbus.console.services.impl.LiveUpdateAjaxServiceImpl">
        <property name="updateManager" ref="updateManagerService"/>
    </bean>

    <context:component-scan base-package="com.atricore.idbus.console.web" />

    <context:annotation-config />
    
</beans>
