<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/osgi
                    http://www.springframework.org/schema/osgi/spring-osgi.xsd">

    <!-- ==================================================================== -->
    <!-- Idbus Server Management OSGI Services                                -->
    <!-- ==================================================================== -->

    <bean id="dozerMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
          <list>
            <value>com/atricore/idbus/console/services/dto/dozer-mappings.xml</value>
          </list>
        </property>
    </bean>

    <bean id="userProvisioningAjaxServiceBean" class="com.atricore.idbus.console.services.impl.UserProvisioningAjaxServiceImpl">
        <property name="provisioningService">
            <ref local="userProvisioningServiceManagerBean"/>
        </property>
        <property name="dozerMapper" ref="dozerMapper" />
    </bean>

    <bean name="passwordHashUtil"
          class="com.atricore.idbus.console.lifecycle.main.util.PasswordHashUtil">
            <property name="hashAlgorithm" value="MD5"/>
            <property name="hashEncoding" value="HEX"/>
    </bean>

    <bean id="identityApplianceManagementAjaxServiceBean" class="com.atricore.idbus.console.services.impl.IdentityApplianceManagementAjaxServiceImpl">
        <property name="idApplianceManagementService">
            <ref local="identityApplianceManagementServiceBean"/>
        </property>
        <property name="dozerMapper" ref="dozerMapper" />
    </bean>

    <bean id="identityApplianceManagementServiceBean" class="com.atricore.idbus.console.lifecycle.main.impl.IdentityApplianceManagementServiceHashImpl">
    </bean>

</beans>