<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OAuthSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/OAuthService/" binding="basicHttpBinding"
                bindingConfiguration="OAuthSoapBinding" contract="OAuth2Protocol.AccessTokenRequestor.OAuthPortType"
                name="soap" />
        </client>
    </system.serviceModel>
</configuration>