<html>
<body>
$header
<br/><br/>
<strong>$title</strong>
<br/><br/>
#foreach($update in $updates)
<strong>$updateStr $update.ID - $update.installableUnit.group/$update.installableUnit.name/$update.installableUnit.version</strong>
<br/>
$updateNatureStr: $update.installableUnit.updateNature<br/>
$descriptionStr: $update.description<br/>
$artifactsStr:<br/>
#foreach($artifact in $update.installableUnit.artifact)
- $artifact.group/$artifact.name/$artifact.version/$artifact.type<br/>
#end
<br/><br/>
#end
<br/><br/>
$footer
<br/>
</body>
</html>