## OAuth2 sample client configuration

# Client ID (as configured in your IDP's OAuth2 section)
oauth2.clientId=pre-authn

# Client Shared secret (as configured in your IDP's OAuth2 section)
oauth2.clientSecret=changeme

# OAuth 2 service endpoint, where tokens will be requested
oauth2.authnEndpoint=http://localhost:8081/IDBUS/IDA-1/IDP-1/OAUTH2/TOKEN/SOAP

#-----------------------------------------------------------
# OAuth 2 resource settings
#-----------------------------------------------------------
# OAuth2 resource we want access (optinal)
oauth2.resourceServerEndpoint=http://acme.com/app/resource

#-----------------------------------------------------------
# Pre-authentication settings
#-----------------------------------------------------------
# Service Provider Alias (SAML 2 alias, it's the SAML entity ID in the SAML Metadata file)
oauth2.spAlias=http://localhost:8081/IDBUS/ACME/SP1/SAML2/MD

# The IDP initiated SSO authentication URL (optinal)
# It's normally <protocol>://<sso-server>:<sso-port>/IDBUS/<appliance-id>/<idp-id>/SAML2/SSO/IDP_INITIATE
oauth2.idpPreAuthn=http://localhost:8081/IDBUS/IDA-1/IDP-1/SAML2/SSO/IDP_INITIATE

# The IDP pre-authentication response endpoint
# It's normally <protocol>://<sso-server>:<sso-port>/IDBUS/<appliance-id>/<idp-id>/CC/OAUTH2/PRE-AUTHN/REST
oauth2.idpPreAuthnResponse=http://localhost:8081/IDBUS/IDA-1/IDP-1/CC/OAUTH2/PRE-AUTHN/REST

# OAuth 2 Service WSDL location
oauth2.wsdlLocation=
