[agent]
gatewayEndpoint=$endpointHost:$endpointPort
gatewayLoginUrl=$gatewayLoginUrl

sessionManagerServicePath=$sessionManagerServicePath
identityManagerServicePath=$identityManagerServicePath
identityProviderServicePath=$identityProviderServicePath

;;SSL setup
#if ($transportSecurity.equals("confidential"))
secureTransport=false
caFile=/location/of/the/ca_file
sslSkipHostCheck=false
sslAllowExpiredCerts=false
#else
secureTransport=false
;;caFile=/location/of/the/ca_file
;;sslSkipHostCheck=false
;;sslAllowExpiredCerts=false
#end

;;HTTP Basic Authentication setup
;;basicUserId=username
;;basicPassword=password

;; ---------------------------------------------------------
;; SSO Partner Applications
;;
;; All sections starting with 'partnerapp' will be treated
;; as partner app declarations.
;; ---------------------------------------------------------
#set ($i = 0)
#set ($partnerapps = "")
#foreach($activation in $execEnv.getActivations())
#set ($i = $i + 1)
#set ($partnerappID = $activation.getPartnerAppId())
#set ($partnerapp = $activation.getPartnerAppLocation().getContext())
#if ($partnerapps != "")
#set ($partnerapps = $partnerapps + ", ")
#end
#set ($partnerapps = $partnerapps + "/" + $partnerapp)
[partnerapp.$i]
base-uri=/$partnerapp
partnerAppId=$partnerappID

#end
;; ---------------------------------------------------------
;; SSO Security Constraints for 'Applications'
;;
;; All sections starting with 'security-constraint' will be treated
;; as security constraint declarations
;; ---------------------------------------------------------

;; [security-constraint.admin]
;; Comma separated list of required roles (optional)
;; Do not leave empty spaces between elements!
;; roles=role1,admin

;; Comma separated list of base uris for this constraint (required)
;; Do not leave empty spaces between elements!
;; base-uris=/public/.*\.pdf,/admin/[sS]ec_.*\.*,$partnerapps

;; [security-constraint.public]
;; base-uris=/public

;; ---------------------------------------------------------
;; Automatic login strategies
;;
;; All sections starting with 'automatic-login-strategy' will be treated
;; as automatic login strategy declarations.
;;
;; If not defined then DEFAULT automatic login strategy is used (with SUFFICIENT mode).
;; strategy: DEFAULT, URLBASED, BOT
;; mode: REQUIRED, SUFFICIENT, OPTIONAL
;; ---------------------------------------------------------
[automatic-login-strategy.1]
strategy=DEFAULT
mode=REQUIRED
ignored-referers=$gatewayBaseUrl

;; [automatic-login-strategy.2]
;; strategy=BOT
;; mode=REQUIRED
;; bots-file=C:\\bots.properties

;; [automatic-login-strategy.3]
;; strategy=URLBASED
;; mode=OPTIONAL
;; url-patterns=pattern3

;; [automatic-login-strategy.4]
;; strategy=DEFAULT
;; mode=REQUIRED
