Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Atricore]

[HKEY_LOCAL_MACHINE\SOFTWARE\Atricore\JOSSO Isapi Agent]

[HKEY_LOCAL_MACHINE\SOFTWARE\Atricore\JOSSO Isapi Agent\1.8]
"LogLevel"="trace"
"ExtensionUri"="$isapiExtensionPath"
"LogFile"="$iisPath\\log\\josso_isapi.log"
"AgentConfigFile"="$iisPath\\config\\josso-agent-config.ini"

; ************************************************************************
; UNCOMMENT ONLY WHEN RUNNING 32-bit IIS applications on 64 bit servers !!
; ************************************************************************
; [HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Atricore]

; [HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Atricore\JOSSO Isapi Agent]

; [HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Atricore\JOSSO Isapi Agent\1.8]
; "LogLevel"="trace"
; "ExtensionUri"="$isapiExtensionPath"
; "LogFile"="$iisPath\\log\\josso_isapi.log"
; "AgentConfigFile"="$iisPath\\config\\josso-agent-config.ini"

