#set($agentFile = $iisPath + "\\bin\\JOSSOIsapiAgent" + $iisArch + ".dll")
Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Eventlog\Application\JOSSO Isapi]
"TypesSupported"=dword:00000007
"EventMessageFile"="$agentFile"
"CategoryCount"=dword:00000007
"CategoryMessageFile"="$agentFile"
