Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Atricore]

[HKEY_LOCAL_MACHINE\SOFTWARE\Atricore\JOSSO Isapi Agent]

[HKEY_LOCAL_MACHINE\SOFTWARE\Atricore\JOSSO Isapi Agent\1.8]
"LogLevel"="trace"
"ExtensionUri"="/josso/JOSSOIsapiAgent.dll"
"LogFile"="$iisPath\\log\\josso_isapi.log"
"AgentConfigFile"="$iisPath\\config\\josso-agent-config.ini"
